:root {
	--m3-font: 'Atkinson Hyperlegible', system-ui;
	font-family: var(--m3-font);

	--text: light-dark(#000, #fff);
	--text-subtle: light-dark(#808080, #808080);
	--background: light-dark(#fff, #000);

	/* disables iOS tap to zoom for entire app */
	touch-action: manipulation;
}

html,
body {
	background-color: var(--m3c-surface-container-lowest);
}

@media screen and (width < 40rem) {
	.desktop-only {
		display: none;
	}

	.mobile-only {
		display: contents;
	}
}

@media screen and (width >= 40rem) {
	.desktop-only {
		display: contents;
	}

	.mobile-only {
		display: none;
	}
}
