@import 'm3-svelte/etc/styles.css';
@import 'm3-svelte/etc/recommended-styles.css';
@function --m3-density(--size) {
	result: var(--size);
}
:root {
	color-scheme: light dark;
}
@layer tokens {
	:root {
		--m3c-surface: light-dark(#fef7ff, #0f0d14);
		--m3c-surface-container-lowest: light-dark(#fff, #000);
		--m3c-surface-container-low: light-dark(#f8f1fe, #15121b);
		--m3c-surface-container: light-dark(#f3ebfa, #1b1822);
		--m3c-surface-container-high: light-dark(#ede5f6, #211e29);
		--m3c-surface-container-highest: light-dark(#e8dff2, #282431);
		--m3c-on-surface: light-dark(#35303f, #ebe2f5);
		--m3c-on-surface-variant: light-dark(#625c6c, #afa8ba);
		--m3c-outline: light-dark(#7e7889, #797383);
		--m3c-outline-variant: light-dark(#b6afc1, #4b4555);
		--m3c-inverse-surface: light-dark(#100c19, #fef7ff);
		--m3c-inverse-on-surface: light-dark(#a09ba4, #57535c);
		--m3c-primary: light-dark(#665591, #a794d4);
		--m3c-on-primary: light-dark(#fdf7ff, #26144d);
		--m3c-primary-container: #d0bcff;
		--m3c-on-primary-container: #47366f;
		--m3c-inverse-primary: light-dark(#9987c6, #665590);
		--m3c-secondary: light-dark(#635b74, #a399b5);
		--m3c-on-secondary: light-dark(#fdf7ff, #231d32);
		--m3c-secondary-container: light-dark(#e9defc, #332d44);
		--m3c-on-secondary-container: light-dark(#554e67, #b6acc8);
		--m3c-tertiary: light-dark(#79536e, #bc91ae);
		--m3c-on-tertiary: light-dark(#fff7f9, #33162c);
		--m3c-tertiary-container: #ffcfee;
		--m3c-on-tertiary-container: #66435c;
		--m3c-error: light-dark(#9f3f47, #ed7c83);
		--m3c-on-error: light-dark(#fff7f6, #49000e);
		--m3c-error-container: light-dark(#fa868d, #4c000f);
		--m3c-on-error-container: light-dark(#580817, #ef7e84);
		--m3c-shadow: #000;
		--m3c-scrim: #000;
		--m3c-on-on-primary: light-dark(#665590, #a794d4);
		--m3c-primary-container-subtle: light-dark(#e2d3ff, #322159);
		--m3c-on-primary-container-subtle: light-dark(#53437d, #b4a1e2);
		--m3c-secondary-container-subtle: light-dark(#e0d5f3, #2f293f);
		--m3c-on-secondary-container-subtle: light-dark(#504961, #b0a7c3);
		--m3c-tertiary-container-subtle: light-dark(#fccceb, #412139);
		--m3c-on-tertiary-container-subtle: light-dark(#65415b, #ca9ebb);
		--m3c-error-container-subtle: light-dark(#ffcecf, #5b0b18);
		--m3c-on-error-container-subtle: light-dark(#872d36, #fd898f);
	}
}
